{% extends 'layouts/generic-page-layout.twig' %}

{% block bodyContent %}

<h1 class="my-3"> <i class="bi bi-pencil-square"></i> Publishing on the IndieWeb <small>Level 2</small></h1>

<h2>1. Mark up your content (Profile, Notes, Articles, etc…) with <a href="https://microformats.org/" target="_blank">microformats2</a></h2>

<p> Other humans can already understand your profile information and the things you post on your site. By adding a few simple class names to your HTML, other people’s software can understand it and use it for things like <a href="https://indieweb.org/reply-context">reply contexts</a>, <a href="https://indieweb.org/comment">cross-site comments</a>, <a href="https://indieweb.org/rsvp">event RSVPs</a>, and more. </p>

<h3> Check your homepage <a href="https://microformats.org/wiki/h-card" target="_blank">h-card</a>: </h3>

{% if error %}
	<div class="alert alert-danger"> {{ error }} </div>
{% endif %}

<form method="get" action="{{ url_for('validate_h_card') }}">
	<div class="row g-3">
		<div class="col">
			<input type="text" name="url" id="validate-h-card-url" value="{{ url }}" class="form-control" placeholder="https://example.com" required>
		</div>
		<div class="col">
			<input type="submit" value="Validate h-card" class="btn btn-primary">
		</div>
	</div>
</form>

{% if showResult %}
<div class="result alert alert-success my-4">

	{%- set h_card = cards.0 -%}

	{% if representative %}
		{%- set h_card = representative -%}

		<h3> Success! </h3>
		<p> This representative h-card was found on your site: </p>

	{% elseif cards|length > 0 %}
		{%- set h_card = cards.0 -%}

		{%- set intro_phrase = 'An h-card was found on your site! Consider ' -%}
		{%- if cards > 1 -%}
			{%- set intro_phrase = 'Multiple h-cards were found on your site! Consider only having one and ' -%}
		{%- endif -%}

		<h3> Almost there! </h3>
		<p> {{ intro_phrase }} marking it up as the <a href="https://microformats.org/wiki/representative-h-card-authoring">representative h-card</a>. </p>
		<p> To identify the h-card that <em>represents</em> the page, you can: </p>
		<ul>
			<li> Add <code>class="u-url u-uid"</code> on the h-card’s link to {{ url }} </li>
			<li> <b>Or:</b> add <code>class="u-url" rel="me"</code> on the h-card’s link to {{ url }} </li>
		</ul>
		<p> Here is the first h-card found: </p>

	{% else %}

		<h3> No h-cards found </h3>
		<p> No h-cards were found on your site! Adding one can be as simple as this: </p>

		<p><code>&lt;a href="{{ url }}" class="h-card" rel="me">Your Name&lt;/a></code></p>

		<p> You can also add other properties for a more detailed profile — see <a href="https://microformats.org/wiki/h-card">h-card on the microformats wiki</a> for a full list. </p>

	{% endif %}

	{% if h_card %}
		<div class="my-2">
		{%~ if core.name ~%}
			<b class="d-block">Name:</b>
			{%~ if core.name|length == 1 ~%}
				{{ core.name.0 }}
			{%~ else ~%}
				<p> <span class="badge text-bg-danger">Warning</span> {{ core.name|length }} names were found. You should typically only have one <code>p-name</code> in your h-card. </p>
				<ul>
				{%~ for item_name in core.name ~%}
					<li> {{ item_name }} </li>
				{%~ endfor ~%}
				</ul>
			{%~ endif ~%}
		{%~ else ~%}
			<div class="empty-property-block photo-block">
				<b class="d-block">Add your name!</b>
				<code>&lt;span class="p-name">Your Name&lt;span></code>
			</div>
		{%~ endif ~%}
		</div>

		<div class="my-2">
		{%~ if core.photo ~%}
			<b class="d-block">Photo:</b>
			{%~ if core.photo|length > 1 ~%}
				<p> <span class="badge text-bg-danger">Warning</span> {{ core.photo|length }} photos were found. You should typically only have one <code>u-photo</code> in your h-card. </p>
				<ul>
				{%~ for item_url in core.photo ~%}
					<li> {{ item_url }} </li>
				{%~ endfor ~%}
				</ul>
				<p> Here is the first photo: </p>
			{%~ endif ~%}

			<div class="w-50"> <img src="{{ core.photo.0 }}" alt="" class="mw-100"> </div>
		{%~ elseif core.logo ~%}
			<b class="d-block">Logo:</b>
			<img src="{{ core.logo.0 }}" alt="" class="photo-block">
		{%~ else ~%}
			<div class="empty-property-block photo-block">
				<b class="d-block">Add a photo!</b>
				<code>&lt;img class="u-photo" src="{{ url }}…"></code>
			</div>
		{%~ endif ~%}
		</div>

		<div class="my-2">
			{%~ if core.url ~%}
			<b class="d-block">URL:</b>
			<ul>
				{%~ for item_url in core.url ~%}
				<li> {{ item_url }} </li>
				{%~ endfor ~%}
			</ul>
			{%~ else ~%}
			<div class="empty-property-block">
				<b class="d-block">Add your URLs!</b>
				<code>&lt;a rel="me" class="u-url" href="…"></code>
			</div>
			{%~ endif ~%}
		</div>

		{%~ if core.email ~%}
		<div class="my-2">
			<b class="d-block">Email:</b>
			<ul>
				{%~ for item_url in core.email ~%}
				<li> {{ item_url }} </li>
				{%~ endfor ~%}
			</ul>
		</div>
		{%~ endif ~%}

		<div class="my-2">
			<b class="d-block">Note:</b>
			{%~ if core.note ~%}
			{{ core.note.0 }}
			{%~ else ~%}
			<div class="empty-property-block">
				Do you have a brief bio? Add it to your h-card as a note property!
				<code class="d-block">&lt;p class="p-note">…&lt;p></code>
			</div>
			{%~ endif ~%}
		</div>

		{%~ for label,item in additional ~%}
		<div class="my-2">
			<b class="d-block">{{ label }}</b>
			<ul>
				{%~ for value in item ~%}
				<li> {{ value }} </li>
				{%~ endfor ~%}
			</ul>
		</div>
		{%~ endfor ~%}

		<p> <a href="https://microformats.org/wiki/h-card#Properties">See the full list of h-card properties</a>. </p>
	{% endif %}

</div>
{% endif %}

<small>Want to be able to use h-card data in your code? Check out the open-source <a href="https://microformats.org/wiki/parsers">implementations</a>.</small>

{% endblock %}

