{% extends 'layouts/generic-page-layout.twig' %}

{% block bodyContent %}

<h4>Check your <b>posts</b> (notes, articles, etc.) are marked up with <a href="https://microformats.org/wiki/h-entry" target="_blank">h-entry</a>:</h4>

{% if error %}
    <div class="alert alert-danger"> {{ error }} </div>
{% endif %}

<form method="get" action="{{ url_for('validate_h_entry') }}">
    <div class="row g-3">
        <div class="col">
            <input type="text" name="url" value="{{ url }}" class="form-control" placeholder="https://example.com/permalink" required>
        </div>
        <div class="col">
            <input type="submit" value="Validate h-entry" class="btn btn-primary">
        </div>
    </div>
</form>

{% if showResult %}
<div class="result alert alert-success my-4">
    <p> We found the following <b>{{ postType }}</b> <code>h-entry</code> on your site: </p>

    <div class="my-2">
        <b class="d-block">Name:</b>
        {% if properties.name_state == 'invalid' %}
            <p> <span class="badge text-bg-danger">Warning</span> The parsed <code>name</code> is longer than the content, which is usually a sign it is malformed due to being implicitly rather than explicitly parsed. </p>

            <p> You should always manually specify what the <code>name</code> of a post is. If it doesn’t have one, make the name the same as the content, e.g. <code>&lt;div class="e-content p-name">…</code> </p>
        {% endif %}

        {{ properties.name ?? '<i>No name parsed</i>' }}
    </div>

    <div class="my-2">
    {% if properties.author.is_h_card %}
        <div class="my-2">
            <b class="d-block">Author Name:</b>
            {% if properties.author.name %}
                {{ properties.author.name }}
            {% else %}
                <i class="d-block">Add your name inside the author h-card!</i>
                <code class="d-block">&lt;span class="p-name">Your Name&lt;span></code>
            {% endif %}
        </div>

        <div class="my-2">
            <b class="d-block">Author Photo:</b>
            {% if properties.author.photo %}
                <div class="w-50"> <img src="{{ properties.author.photo }}" alt="" class="mw-100"> </div>
                {# <img src="{{ parsed.author.photo }}" alt=""> #}
            {% else %}
                <i class="d-block">Add a photo inside the author h-card!</i>
                <code>&lt;img class="u-photo" src="…"></code>
            {% endif %}
        </div>

        <div class="my-2">
            <b class="d-block">Author URL:</b>
            {% if properties.author.url %}
                {{ properties.author.url }}
            {% else %}
                <i class="d-block">Add your URL inside the author h-card! You can combine this with your name:</i>
                <code class="d-block">&lt;a class="p-name u-url" href="…">{{ parsed.author.name ?? 'Your Name' }}&lt;a></code>
            {% endif %}
        </div>

    {% else %}
        <div class="my-2">
            <b class="d-block">Author:</b>
            {{ properties.author.name }}

            <p> <i>You’re marking up your post’s author as a string — add <code>h-card</code> to make it a full h-card!</i> </p>
            <code class="d-block">&lt;a class="p-author h-card" href="…">{{ properties.author.name ?? 'Your Name' }}&lt;a></code>
        </div>
    {% endif %}
    </div>

    {% if postType == 'reply' %}
    <div class="my-2">
        <b class="d-block">In Reply To:</b>
        <ul>
        {% for item in properties.in_reply_to %}
        <li>
            {% if not item.url %}
                <i>Each <code>in-reply-to</code> should have a URL property: <code>class="u-url"></code></i>
            {% else %}
                {{ item.url }}
            {% endif %}

            {% if not item.is_h_cite %}
                <i class="d-block">Consider adding an <a href="https://microformats.org/wiki/h-cite"><code>h-cite</code></a> to this <code>in-reply-to</code></i>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


    <div class="my-2">
        <b class="d-block">Content:</b>
        {% if properties.content %}
            {% if not properties.is_content_html %}
                <i class="d-block">It looks like your content is marked up as a plain text property <code>class="p-content"</code>. You might want to use <code>class="e-content"</code> so that consumers can parse rich text (i.e. with images and formatting)</i>
                <hr>
            {% endif %}
            {{ properties.content }}
        {% else %}
            <i class="d-block">Add some content:</i>
            <code class="d-block">&lt;div class="e-content">…&lt;div></code>
        {% endif %}
    </div>

    <div class="my-2">
        <b class="d-block">Published:</b>
        {% if properties.published %}
            {% if not properties.is_published_valid %}
                <i class="d-block">The published date does not appear to be valid ISO-8601 format</i>
                <hr>
            {% endif %}
            <time>{{ properties.published }}</time>
        {% else %}
            <i class="d-block">Add a published date and time:</i>
            <code class="d-block">&lt;time class="dt-published" datetime="YYYY-MM-DD HH:MM:SS">The Date&lt;/time></code>
        {% endif %}
    </div>

    <div class="my-2">
        <b class="d-block">URL:</b>
        {% if properties.url %}
            {{ properties.url }}
        {% else %}
            <i class="d-block">Add the post URL:</i>
            <code class="d-block">&lt;a class="u-url" href="…">…&lt;/a></code>
        {% endif %}
    </div>

    <div class="my-2">
        <b class="d-block">Categories:</b>
        {% if properties.categories %}
            <ul>
            {% for item in properties.categories %}
            <li> {{ item }} </li>
            {% endfor %}
            </ul>
        {% else %}
            <i class="d-block">Optional: add some categories: TODO</i>
            <code class="d-block">&lt;a class="p-category" href="…">…&lt;/a></code>
        {% endif %}
    </div>

    <div class="my-2">
        <b class="d-block">Syndicated Copies:</b>
        {% if properties.syndications %}
            <ul>
            {% for item in properties.syndications %}
            <li> {{ item }} </li>
            {% endfor %}
            </ul>
        {% else %}
            <i class="d-block">Optional: add links to POSSEd posts: TODO</i>
            <code class="d-block">&lt;a class="u-syndication" href="…">…&lt;/a></code>
        {% endif %}
    </div>

    <div>in progress</div>
</div>
{% endif %}


{% endblock %}

